.nav-item {
  display: inline-flex;
  height: 20px;
  padding: 5px 10px 5px 10px;
}

button {
  display: inline-flex;
  border: none;
  margin: 0;
  text-decoration: none;
  background: inherit;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #282c34;
}

button:focus {
  outline: 0px;
}

button:active {
  transform: scale(0.99);
}
