.BooksItem {
  text-align: left;
  padding: 40px;
  display: inline-flex;
}

.BookYear {
  display: inline-block;
}

.BookLabel {
  text-align: center;
}

.BookTitle {
  font-size: 14px;
}

.BookBy {
  font-size: 12px;
}

.BookAuthor {
  font-size: 12px;
}

.Book {
  width: 100px;
}

.BookImage {
  width: 100px;
}
